<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro usuario</title>
    <style>
        body{
              display: flex;
              align-items: center;
              background-color: aqua;
              flex-direction: column;
        }
        
    </style>
</head>
<body>
   
    <form action="/registrar/" method="post">
        {%if messages %}
         {% for msg in messages %}
          <p style="background-color: blue">{{ msg }}</p>
         {%endfor%}
        {%endif%}
        {% csrf_token %} 
        {{ form.as_p }}
 
        <input type="submit" value="Registrar">

        <a href="{% url 'home'%}">regresar al inicio</a>
    </form>

</body>
</html>