<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if genero == 'M' %}
     <h1> Bienvenido<span style="color:blue"> {{nombre}}</span></h1>
    {% else %}
     <h1> Bienvenida<span style="color:pink"> {{nombre}}</span></h1>
    {% endif %}
    <p>usted tiene {{edad}} años,</p>
    {%if edad <= 8 %}
     <h1>menor que 8</h1>
    {%endif%} 
    {%if edad > 8 and edad <= 20 %}
     <h1>entre 8 y 20 </h1>
    {%endif%} 
    {%if edad > 20 %}
     <h1>mayor que 20</h1>
    {%endif%} 
</body>
</html>